<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Make A Triangle</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <p>@Model.GetSide1()</p>
    <p>@Model.GetSide2()</p>
    <p>@Model.GetSide3()</p>
    <p>test</p>
  </body>
</html>
